*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img{
  vertical-align: middle;
}

.visually-hidden{
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

a{
  display: inline-block;
  text-decoration: none;
}

ul,
ol{
  margin: 0;
  padding: 0;
  list-style-type: none;

}

html{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: 'Outfit', "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: #1a2a33;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
}

/* GAME BOARD STYLES */
.game {
  max-width: 500px;
  width: 100%;
  margin: 50px auto;
  padding: 0 20px;
  /* display: none; */
  cursor: pointer;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.logo {
  margin-left: 30px;
}

.header-turn-btn {
  outline: none;
  background-color: transparent;
  width: 140px;
  background-color: #1f3641;
  border-radius: 10px;
  box-shadow: inset 0 -0.4rem 0 #0f191e;
  padding: 20px 30px;
  text-align: center;
  border: transparent;
  margin: 0;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 20px;
  color: #A9BFCD;
}

.header-turn-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header-turn-text {
  margin: 0;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  color: #A9BFCD;
}

.header-restart {
  width: 70px;
  padding: 16px;
  background-color: #a8bfc9;
  border-radius: 10px;
  box-shadow: inset 0 -0.4rem 0 #6991a2;
  transition: all 0.4s ease;
  justify-self: flex-end;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  grid-gap: 20px;
  cursor: pointer;
}

.cell {
  cursor: pointer;
  position: relative;
  width: 140px;
  height: 140px;
  background-color: blue;
  border-radius: 24px;
  background-color: #1f3641;
  box-shadow: inset 0 -8px 0 #0f191e;
  padding: 38px;
  transition: all 0.3s ease-in;
}


.score {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.score-player {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 140px;
  width: 100%;
  height: 74px;
  background-color: #31c3bd;
  padding: 13px 40px;
  border-radius: 15px;
  box-shadow: inset 0 -8px 0 #31c3bd;
  gap: 8px;
}

.score-player:nth-child(2) {
  background-color: #a8bfc9;
  box-shadow: inset 0 -8px 0 #a8bfc9;
}

.score-player:nth-child(3) {
  background-color: #f2b137;;
  box-shadow: inset 0 -8px 0 #f2b137;;
}

.score-res {
  font-size: 24px;
  font-weight: 700;
}


.cell.x::before {
  display: block;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  background-image: url("../assets/icon-x.svg");
  width: 64px;
  height: 64px;
  content: "";
}


.cell.o::before {
  display: block;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  background-image: url("../assets/icon-o.svg");
  width: 64px;
  height: 64px;
  content: "";
}

.cell.x-hover:hover::before {
  display: block;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  background-image: url("../assets/icon-x-outline.svg");
  width: 64px;
  height: 64px;
  content: "";
}

.cell.o-hover:hover::before {
  display: block;
  background-repeat: no-repeat;
  left: 0;
  right: 0;
  margin: 0 auto;
  position: absolute;
  background-image: url("../assets/icon-o-outline.svg");
  width: 68px;
  height: 68px;
  content: "";
}

/* ------------------------------------------------------------------------------------------------------------------- */


/* STARTING OF TIC TAC GAME */

.start {
  max-width: 520px;
  width: 100%;
  margin: auto;
  padding: 0 20px;
  display: none;
}

.start-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 204px ;
  margin-bottom: 40px;
}

.options {
  padding: 24px;
  border-radius: 24px;
  background-color: #1f3641;
  box-shadow: inset 0 -8px 0 #0f191e;
  text-align: center;
  margin-bottom: 40px;
}

.options-choice {
  margin: 24px 0 17px;
  padding: 9px 8px;
  background-color: #1a2a33;
  border-radius: 10px;
  display: flex;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.option-btn {
  width: 50%;
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.active{
  left: -5px;
  top: 5px;
  position: absolute;
  width: calc(50% );
  height: calc(100% - 10px);
  background-color: #31C3BD;
  border-radius: 10px;
  transition: all .25s ease-in;
}

.option-btn .active {
  position: relative;
}

.options-turn-text {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  color: #a8bfc9;
}

.options-text {
  margin: 13px 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  color: #a8bfc9;
}

.choice-btn {
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: 700;
  color: #1a2a33;
  text-transform: uppercase;
  line-height: 25px;
  text-align: center;
  padding: 25px 12px;
  border: none;
  border-radius: 15px;
  transition: all 0.4s ease;
  margin-bottom: 20px;
  background-color: #f2b137;
  box-shadow: inset 0 -0.8rem 0 #b77c0c
}

.choice-btn:nth-child(2) {
  background-color: #31c3bd;
  box-shadow: inset 0 -0.8rem 0 #1d716e
}


